[project]
	description = Checkbox component for React native
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Toby Abel (TobyAbel)
[access "refs/for/refs/*"]
	read = group user/Toby Abel (TobyAbel)
	push = group user/Toby Abel (TobyAbel)
	label-Code-Review = -2..+2 group user/Toby Abel (TobyAbel)
	label-Verified = -1..+1 group user/Toby Abel (TobyAbel)
	rebase = group user/Toby Abel (TobyAbel)
	removeReviewer = group user/Toby Abel (TobyAbel)
	submit = group user/Toby Abel (TobyAbel)
[access "refs/heads/*"]
	read = group user/Toby Abel (TobyAbel)
	create = group user/Toby Abel (TobyAbel)
	push = +force group user/Toby Abel (TobyAbel)
	pushMerge = group user/Toby Abel (TobyAbel)
[access "refs/tags/*"]
	push = +force group user/Toby Abel (TobyAbel)
	pushTag = group user/Toby Abel (TobyAbel)
	pushSignedTag = group user/Toby Abel (TobyAbel)
